/***************************************************STRUCTURAL COLORS***************************************************/
.back-clear {
	background-color: transparent;
}

.back-black {
	background-color:  black;
}

.fore-black {
	color:  black;
}

.back-darker-grey {
	background-color: hsl(0, 0%, 15%);
}

.fore-darker-grey {
	color: hsl(0, 0%, 15%);
}

.back-dark-grey {
	background-color: hsl(0, 0%, 30%);
}

.fore-dark-grey {
	color: hsl(0, 0%, 30%);
}

.back-grey {
	background-color: hsl(0, 0%, 45%);
}

.fore-grey {
	color: hsl(0, 0%, 45%);
}

.back-light-grey {
	background-color: hsl(0, 0%, 60%);
}

.fore-light-grey {
	color: hsl(0, 0%, 60%);
}

.back-lighter-grey {
	background-color: hsl(0, 0%, 75%);
}

.fore-lighter-grey {
	color: hsl(0, 0%, 75%);
}

.back-white {
	background-color: white;
}

.fore-white {
	color: white;
}